.logo {
    font-weight: bold;
}

.menu {
    text-align: center;
    display: flex;
    list-style-type: none;
    margin-left: auto;

    li {
        padding-left: 20px;

        &:hover {
            cursor: pointer;
            color: #335088;
            text-decoration: none;
        }

    }

    .link {
        color: inherit;
    }
}

.menuHamburger {
    display: none;
}

// * phone
@media (max-width: 600px) { 

    .menu {
        display: none;
    }

    .menuHamburger {
        display: block;
        margin-left: auto;
        font-size: 18px;
    }
}