.registrationContainer {
    padding: 10px 5% 10px 5%;
    background: #fff;
    border-bottom: 1px solid #eee;
    height: auto;
}

.stepsContent {
    margin: 10px 5% 10px 5%;
    height: auto;
    background: #fff;
}

.stepAction{
    border-top: 1px solid #ccc;
    padding: 10px 5% 0 5%;
    height: 50px;
    width: 100%;
    background: #fff;
    display: flex;
    
    .stepActionRight {
        width: 50%;
        display: flex;
        margin-left: auto;
        
        .nextButton {
            margin-left: auto;
        }
    }

    .stepActionLeft {
        width: 50%;
        
        .prevButton {
            
        }
    }
}

@media (max-width: 991px) {

        
    .nextButton Button {
        width: 20vw;
    }




}